@using FishStore.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FakeFishStore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MeuCss.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ca63af555e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-toggleable-md m-0" style="background: rgba(0, 0, 0, 0.8)!important;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index"><img style="height:3rem" src="~/images/logo.png" alt="NavbarBrand" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="custom-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.ManagerUser))
                        {
                        <li class="nav-item dropdown navbar-textu">
                            <a class="nav-link dropdown-toggle navbar-textu p-0" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                GERENCIAR CONTEÚDO
                            </a>
                            <div class="dropdown-menu" style="background: rgba(0, 0, 0, 0.8) !important;" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item navbar-textu" asp-action="Index" asp-controller="Category" asp-area="Admin">CATEGORIA</a>
                                <a class="dropdown-item navbar-textu" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">SUBCATEGORIA</a>
                                <a class="dropdown-item navbar-textu" asp-action="Index" asp-controller="StoreItem" asp-area="Admin">ITENS</a>
                                <a class="dropdown-item navbar-textu" asp-action="Index" asp-controller="User" asp-area="Admin">USUÁRIOS</a>
                            </div>

                        </li>
                        }
                        <li class="nav-item">
                            <a href="#" class="nav-link navbar-textu">
                                <i class="fas fa-shopping-cart"></i> (0)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-textu" asp-area="" asp-controller="Home" asp-action="Products">PRODUTOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="p-0 m-0">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-light ">
        <div class="container">
            &copy; 2020 - FakeFishStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
