@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="container">
    <header>
        <h1 class="text-danger" style="padding-top:90px">Acesso Negado</h1>
        <p class="text-danger">Você não pussui acesso a esse recurso.</p>
    </header>
</div>