@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="container">
    <header>
        <h1 class="text-danger" style="padding-top:90px">ACESSO NEGADO</h1>
        <p class="text-danger">Você não pussui acesso a esse recurso.</p>
    </header>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}