@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="container">
    <header>
        <h1 class="text-danger" style="padding-top:90px">Acesso Negado</h1>
        <p class="text-danger">Você não pussui acesso a esse recurso.</p>
    </header>
</div>