@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <header>
        <h1 class="text-danger" style="padding-top:90px">@ViewData["Title"]</h1>
        <p class="text-danger">Você não pussui acesso a esse recurso.</p>
    </header>
</div>

