@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação - Senha";
}


<h1 class="text-center" style="padding-top:90px">@ViewData["Title"]</h1>
<br />
<div class="container">
    <p>
        Por favor veja seu email para trocar a senha.
    </p>
</div>
