@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<h1  style="padding-top:90px"></h1>
<div class="container">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Essa conta está bloqueada, Por favor tente mais tarde.</p>
    </header>
</div>