@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<div class="container">
    <header>
        <h1 class="text-center" style="padding-top:90px">@ViewData["Title"]</h1>
        <p>Você saiu da aplicação com sucesso.</p>
    </header>
</div>
