.navbar-fundo {
    background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-fundo:hover {
    background: rgba(0, 0, 0, 0.6) !important;
}

html {
    padding: env(safe-area-inset);
}

body, html {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #505962;
}

.text-nuno {
    color: #1ebba3;
}

.custom-toggler-icon {
    color: white;
    font-size: 1.6rem;
}

.navbar-textu {
    padding: .7rem 1rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: .9rem;
    color: white;
    
    transition: color .6s ease;
}

    .navbar-textu:hover {
        color: #1ebba3;
        background: rgba(0, 0, 0, 0)!important;
    }

button:focus, a:focus, a.btn:focus {
    outline: 0 !important;
    box-shadow: none;
}
/*Home landing image*/
.home-inner {
    background-image: url(../images/bg-fish-image.jpg);
    position: fixed;
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    display: table;
}

.landing {
    position: relative;
    width:100%;
    height: 100vh;
    display: table;
    z-index: -1;
}

.home-wrap {
    clip: rect(0,auto,auto,0);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}

.card 
{
    transition: all .3s ease;
}

.card:hover{
    transform: scale(1.05);
}


.caption {
    z-index:1;
    position: absolute;
    top:15%;
    width:100%;
    max-width:100%;
}

.caption h1 {
    font-size:3.5rem;
    letter-spacing:.1rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size:2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}

.caption .btn-lg {
    border-width: medium;
    padding: .8rem 1.5rem;
}

.offset:before {
    content:"";
    height:4.4rem;
    display:block;
    margin-top:-4.4rem;
}

.top-scroll {
    right: 1.2rem;
    bottom: 1.2rem;
    position: fixed;
    opacity: .6;
    z-index: 100;
    display: none;
}

.top-scroll:hover{
    opacity: .8;
}

.top-icon {
    color: #53595f;
    font-size: 3rem;
}

.os-animation {
    opacity: 0;
    margin: 0 !important;
    max-width: 100%;
}

.os-animation.animated{
    opacity:1;
}