@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Start Landing Page-->
<div id="landingPage">
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>

    <div class="caption text-center text-light text-uppercase">
        <h1 class="font-weight-bold os-animation" data-animation="fadeInUp" data-delay=".6s">Bem-vindo à Fake <span style="color: #1ebba3;">FISH</span> Store</h1>
        <h3 class="os-animation" data-animation="fadeInUp" data-delay=".8s">A melhor e maior loja de aquarismo do brasil</h3>
        <a class="btn btn-outline-light btn-lg rounded-0 os-animation" data-animation="fadeInUp" data-delay=".8s" href="#services">Explore</a>
    </div>
</div>
<!--End Landing Page -->
<!-- Start Services-->
<div id="services" class="offset">
    <h1 class="text-center" style="padding-top:20px">Nossos Serviços</h1>
    <br />
    <div class="pb-3" style="display:inline-block; width:100%; text-align:center;color: #1ebba3; color: #1ebba3;">
        <i class="fab fa-pagelines" style="transform: scale3d(-2,2,2); margin-right: 15px;"></i>
        <i class="fas fa-fish" style="color: #1ebba3; transform: scale(2); margin-right:15px;"></i>
        <i class="fab fa-pagelines" style="color: #1ebba3; transform: scale(2);"></i>
    </div>

    <div class="jumbotron mb-3">
        <div class="container">
            <div class="row text-center px-lg-4 px-xl-5">
                <div class="col-sm-12 col-md-6 os-animation px-5" data-animation="fadeInUp">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#1ebba3"></i>
                        <i class="fas fa-truck-moving fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="text-uppercase font-weight-bold pt-2">entrega confiável</h5>
                    <p class="lead text-justify">
                        Enviamos o produto pelo SEDEX e apenas realizamos a postagem nas segundas-feiras,
                        para que sua encomenda viva chegue saúdavel na mesma semana.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 os-animation px-5" data-animation="fadeInUp">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#1ebba3"></i>
                        <i class="fab fa-stripe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="text-uppercase font-weight-bold pt-2">pagamento seguro</h5>
                    <p class="lead text-justify">
                        Todos os pagamentos com cartão de crédito realizados na plataforma são processados pela Stripe,
                        garantindo segurança e agilidade na sua compra.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 os-animation px-5" data-animation="fadeInUp">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#1ebba3"></i>
                        <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="text-uppercase font-weight-bold pt-2">localização privilegiada</h5>
                    <p class="lead text-justify">
                        Melhor que comprar pelo nosso site, só visitar a nossa linda loja física no centro de
                        Belo Horizonte, próximo da Praça Sete de Setembro, e se inspirar com os nossos 30 áquarios em exibição.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 os-animation px-5" data-animation="fadeInUp">
                    <span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#1ebba3"></i>
                        <i class="fas fa-fish fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="text-uppercase font-weight-bold pt-2">os melhores peixes!</h5>
                    <p class="lead text-justify">
                        Todos os peixes da loja são criados com carinho e cuidado por um time especializado e apaixonado, é a garantia de um peixe
                        feliz e saúdavel no seu áquario!
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- End Services-->
<!--Start Our History-->
<h1 class="text-center mt-0">Nossa História</h1>
<br />
<div class="pb-3" style="display:inline-block; width:100%; text-align:center;color: #1ebba3; color: #1ebba3;">
    <i class="fab fa-pagelines" style="transform: scale3d(-2,2,2); margin-right: 15px;"></i>
    <i class="fas fa-fish" style="color: #1ebba3; transform: scale(2); margin-right:15px;"></i>
    <i class="fab fa-pagelines" style="color: #1ebba3; transform: scale(2);"></i>
</div>

<div class="jumbotron mb-0">
    <div class="row  px-lg-4 px-xl-5">
        <div class="col-sm-12 text-center col-md-6 os-animation bg-white rounded p-5" data-animation="fadeInUp">
            <p class="lead text-justify">
                A Fake Fish Store foi fundada em 2010 por dois irmãos, Lucas e Camilo,
                apaixonados por toda forma de vida, mas especialmente pela vida marinha.
                Cresceram fascinados pelas intensas cores e a beleza de um recife de
                corais e todas as criaturas que o habitam. E logo quando começaram a trabalhar,
                todo o dinheiro que sobrava era investido em um aquário marinho (“esse que lhe deu boas-vindas ao site!”).
                Durante esse período sentiram a dificuldade de se montar e manter um bom aquário marinho
                no Brasil, e essa visão os levou a fundação da empresa e ao sucesso que se sucedeu.
            </p>
            <p class="lead text-justify">
                Hoje a empresa conta com mais de 20 funcionários apaixonados e especialistas em vida marinha,
                e busca através de sua loja física e loja virtual fazer com que aquaristas brasileiros tenham
                acesso aos melhores produtos do mercado, e que assim como os irmãos, obtenham o aquário de seus sonhos.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 os-animation m-5 p-5" data-animation="fadeInUp">
            <img class="rounded-circle" style="width:100%; " src="~/images/two-boy-touching-aquarium-glass-3167782 (1).jpg" alt="Boys looking an aquarium" />
        </div>

    </div>
</div>
<!--End Our History-->
<!--Start Contact-->
<!-- Start Contact Section -->
<div id="contact">

    <div class="row mt-0 outer bg-dark">

        <div class="container ">
            <div class="row py-3">

                <div class="col-md-5 col-sm-12 text-white text-center">
                    <p class="text-justify">Temos como missão disponibilizar os melhores produtos, peixes, plantas e corais para seu aquário.</p>
                    <strong>Nossa Localização</strong>
                    <p>Praça Sete de Setembro, Centro<br>Belo Horizonte, Brasil</p>
                    <strong>Informações de Contato</strong>
                    <p>(31) 9999-9999<br>email@fakefishstore.com</p>
                    <ul class="social pt-3 pb-3 ">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div> <!-- End Column -->
                <div class="col-md-7 col-sm-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End Contact-->

<a href="#landingPage" class="top-scroll">
    <i class="fa fa-angle-up top-icon"></i>
</a>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Start google maps javascript API-->
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var bh = { lat: -19.919154, lng: -43.938636 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: bh });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: bh, map: map });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9OsX70hgDKJuO2SZNDXFGG0kLPIWESMI&callback=initMap">
    </script>
    <!-- End google maps javascript API-->

    <script>

        /*==========TOP SCROLL BUTTON ==========*/
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 500) {
                    $('.top-scroll').fadeIn();
                } else {
                    $('.top-scroll').fadeOut();
                }
            });
        });

        /*==========SMOOTH SCROLL TO LINK a[href^="#"] ==========*/
        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
        });

        /*========== WAYPOINTS ANIMATION DELAY ==========*/
        //Original Resource: https://www.oxygenna.com/tutorials/scroll-animations-using-waypoints-js-animate-css
        $(function () { // a self calling function
            function onScrollInit(items, trigger) { // a custom made function
                items.each(function () { //for every element in items run function
                    var osElement = $(this), //set osElement to the current
                        osAnimationClass = osElement.attr('data-animation'), //get value of attribute data-animation type
                        osAnimationDelay = osElement.attr('data-delay'); //get value of attribute data-delay time

                    osElement.css({ //change css of element
                        '-webkit-animation-delay': osAnimationDelay, //for safari browsers
                        '-moz-animation-delay': osAnimationDelay, //for mozilla browsers
                        'animation-delay': osAnimationDelay //normal
                    });

                    var osTrigger = (trigger) ? trigger : osElement; //if trigger is present, set it to osTrigger. Else set osElement to osTrigger

                    osTrigger.waypoint(function () { //scroll upwards and downwards
                        osElement.addClass('animated').addClass(osAnimationClass); //add animated and the data-animation class to the element.
                    }, {
                        triggerOnce: true, //only once this animation should happen
                        offset: '70%' // animation should happen when the element is 70% below from the top of the browser window
                    });
                });
            }

            onScrollInit($('.os-animation')); //function call with only items
            onScrollInit($('.staggered-animation'), $('.staggered-animation-container')); //function call with items and trigger
        });


    </script>
}
