@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="padding-top:90px">Política de Privacidade</h1>
<br />


<div class="pb-3" style="display:inline-block; width:100%; text-align:center;color: #1ebba3; color: #1ebba3;">
    <i class="fab fa-pagelines" style="transform: scale3d(-2,2,2); margin-right: 15px;"></i>
    <i class="fas fa-fish" style="color: #1ebba3; transform: scale(2); margin-right:15px;"></i>
    <i class="fab fa-pagelines" style="color: #1ebba3; transform: scale(2);"></i>
</div>




<div class="jumbotron">
    <div class="container">
        <h3 class="text-justify">
            Este site é apenas parte do meu portfólio,
            dados cadastrados não serão usados para nenhum fim,
            e serão periodicamente excluídos do banco de dados.
        </h3>
        <h2 class="blockquote-footer">Lucas Mourão Ferreira</h2>
    </div>
</div>



