@model FishStore.Models.ViewModels.ProductsViewModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="padding-top:90px">Os Melhores Produtos Para Seu Áquario</h1>
<br />

<div class="jumbotron">
    
    <div id="menu-wrapper" class="container">
        <partial name="_ThumbnailAreaPartial" model="@Model.StoreItem" />
    </div>


</div>

