@model FishStore.Models.ViewModels.ProductsViewModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="padding-top:90px;">Os Melhores Produtos Para Seu Áquario</h1>
<br />

<div class="pb-3" style="display:inline-block; width:100%; text-align:center;color: #1ebba3; color: #1ebba3;">
    <i class="fab fa-pagelines" style="transform: scale3d(-2,2,2); margin-right: 15px;"></i>
    <i class="fas fa-fish" style="color: #1ebba3; transform: scale(2); margin-right:15px;"></i>
    <i class="fab fa-pagelines" style="color: #1ebba3; transform: scale(2);"></i>
</div>

<div class="jumbotron">
    
    <div id="menu-wrapper" class="container">
        <partial name="_ThumbnailAreaPartial" model="@Model.StoreItem" />
    </div>


</div>

